---
import MarkedText from "../components/MarkedText.astro";
import Layout from "../layouts/Layout.astro";
import PageContent from "../layouts/PageContent.astro";
---

<Layout title="About me" description="A little about myself">
  <PageContent title="About me" description="A little about myself">
    <div class="flex flex-col gap-3 text-lg">
      <p
        class="motion-safe:animate-fadeInTop motion-safe:opacity-0 text-2xl text-zinc-100"
        style="animation-fill-mode: forwards; animation-delay: 200ms;"
      >
        Hi there, thanks for reading this! My name is <MarkedText>
          Emma Böcker
        </MarkedText>. I am a <MarkedText>political activist</MarkedText> and <MarkedText
        >
          full-stack developer
        </MarkedText> from germany.
      </p>
      <h3
        class="motion-safe:animate-fadeInTop motion-safe:opacity-0 text-4xl text-violet-200 underline mt-5"
        style="animation-fill-mode: forwards; animation-delay: 300ms;"
      >
        Technology and Software Development
      </h3>
      <p
        class="motion-safe:animate-fadeInTop motion-safe:opacity-0"
        style="animation-fill-mode: forwards; animation-delay: 400ms;"
      >
        I've been interested in technology since a very young age and I started
        programming when I was about 11 years old. Since then I've been learning
        and working with different technologies and languages. Starting with
        making Minecraft Plugins in Java and later switching to Kotlin for that.
        I focus on expanding my skills for building things on the Internet now.
        A good example for that is this website, which I built myself!
      </p>
      <p
        class="motion-safe:animate-fadeInTop motion-safe:opacity-0"
        style="animation-fill-mode: forwards; animation-delay: 500ms;"
      >
        I enjoy Programming Languages like <a
          target="_blank"
          href="https://www.rust-lang.org/"
          class="text-blue-300">Rust</a
        >, <a
          target="_blank"
          href="https://www.typescriptlang.org/"
          class="text-blue-300">Typescript</a
        > and
        <a target="_blank" href="https://kotlinlang.org/" class="text-blue-300"
          >Kotlin</a
        >. I have also started adopting <a
          target="_blank"
          href="https://nixos.org/"
          class="text-blue-300">Nix(-Os)</a
        > and I am liking it a lot!
      </p>
      <h3
        class="motion-safe:animate-fadeInTop motion-safe:opacity-0 text-4xl text-violet-200 underline mt-5"
        style="animation-fill-mode: forwards; animation-delay: 600ms;"
      >
        Political Activism
      </h3>
      <p
        class="motion-safe:animate-fadeInTop motion-safe:opacity-0"
        style="animation-fill-mode: forwards; animation-delay: 700ms;"
      >
        While I enjoy sotware development a lot, the world is a place of
        corruption, exploitation and injustice. I am convinced that we can and
        should do better. We should all fight for a better world without
        capitalism, fascism, discrimination and oppression. To bring my ideas
        into politics, I am on the federal board of <a
          target="_blank"
          href="https://linksjugend-solid.de"
          class="text-red-200">Linksjugend ['solid]</a
        >, the youth organisation of the german left party. My activism does
        make it harder to concentrate on my excitement for technology and
        software development, but sometimes I still get to realize cool
        projects. Usually I write about this and my personal life on <a
          target="_blank"
          href="https://twitter.com/EmmaBoecker"
          class="text-blue-300">twitter</a
        >.
      </p>
    </div>
  </PageContent>
</Layout>
