---
import MarkedText from "../components/MarkedText.astro";
import Layout from "../layouts/Layout.astro";
import PageContent from "../layouts/PageContent.astro";
---

<Layout title="About me" description="A little about myself">
  <PageContent title="About me" description="A little about myself">
    <div class="flex flex-col gap-3 text-lg">
      <p
        class="animate-fadeInTop opacity-0"
        style="animation-fill-mode: forwards; animation-delay: 200ms;"
      >
        Hi there, thanks for reading this! I'm <MarkedText>
          Emma Böcker,
        </MarkedText> online you can usually find me under the name <MarkedText>
          StckOverflw.
        </MarkedText> I am a <MarkedText>Software Developer</MarkedText> from Germany
        doing <MarkedText>Full-Stack Web Development</MarkedText>.
      </p>
      <p
        class="animate-fadeInTop opacity-0"
        style="animation-fill-mode: forwards; animation-delay: 300ms;"
      >
        I've been interested in technology since a very young age and I started
        programming when I was about 11 years old. Since then I've been learning
        and working with different technologies and languages. Starting with
        making Minecraft Plugins in Java and later switching to Kotlin for that.
        I focus on expanding my skills for building things on the Internet now
        and barely do any Minecraft Plugins anymore.
      </p>
      <p
        class="animate-fadeInTop opacity-0"
        style="animation-fill-mode: forwards; animation-delay: 400ms;"
      >
        I enjoy Programming Languages like <a
          target="_blank"
          href="https://www.rust-lang.org/"
          class="text-blue-300">Rust</a
        >, <a
          target="_blank"
          href="https://www.typescriptlang.org/"
          class="text-blue-300">Typescript</a
        > and
        <a target="_blank" href="https://kotlinlang.org/" class="text-blue-300"
          >Kotlin</a
        > and I'm a huge advocate for <MarkedText>Public Transport</MarkedText> and
        I like Left Politics.
      </p>
    </div>
  </PageContent>
</Layout>
