---
export type Props = {
  title: string;
  description: string;
};

const { title, description }: Props = Astro.props;
---

<div class="flex w-full justify-center my-20">
  <div class="flex flex-col gap-4 w-[90%] md:w-[760px] xl:w-[1200px]">
    <div class="flex flex-col py-12 mt-8 gap-3">
      <div
        class="flex flex-row gap-5 motion-safe:animate-fadeInTop motion-safe:opacity-0 items-center"
        style="animation-fill-mode: forwards;"
      >
        <h1 class="text-6xl">
          {title}
        </h1>
        <slot name="right-title" />
      </div>
      <h2
        class="text-gray-400 text-2xl motion-safe:animate-fadeInTop motion-safe:opacity-0"
        style="animation-fill-mode: forwards; animation-delay: 100ms;"
      >
        {description}
      </h2>
    </div>
    <div id="content">
      <slot />
    </div>
  </div>
</div>
